.loader{

    position:fixed;

    inset:0;

    background:#0b0b18;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    z-index:99999;
}

.loader h2{

    color:white;

    margin-top:25px;

    letter-spacing:3px;
}

.loader__circle{

    width:70px;

    height:70px;

    border-radius:50%;

    border:5px solid rgba(255,255,255,.15);

    border-top-color:#6c63ff;

    animation:spin 1s linear infinite;
}

@keyframes spin{

    to{

        transform:rotate(360deg);

    }

}