.reviews {
    padding: 100px 0;

    background: #0f0f20;

    color: white;

}

.reviews h2 {
    text-align: center;

    font-size: 40px;

    margin-bottom: 50px;

}

.reviews__grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

}

.review-card {
    /* background:#18182d; */
    background: rgba(255, 255, 255, .05);

    backdrop-filter: blur(18px);

    border: 1px solid rgba(255, 255, 255, .08);

    box-shadow:
        0 10px 40px rgba(0, 0, 0, .35);
    padding: 30px;

    border-radius: 20px;
}

.review-card:hover {
    transform: translateY(-10px);
    border-color: #6c63ff;
}

.review-text {
    color: #ccc;
    line-height: 1.6;
    padding: 6px 0 0 0;
}

.review-card h3 {
    font-size: 22px;
    margin: 15px 0 6px 0;
}

.review-card span {
    font-size: 17px;
    color: #6c63ff;
}

@media(max-width:1200px) {

    .reviews__grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width:768px) {

    .reviews {
        padding: 80px 0;
    }

    .reviews h2 {
        font-size: 32px;
        margin-bottom: 35px;
    }

    .reviews__grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .review-card {
        padding: 25px;
    }

}

@media(max-width:375px) {

    .reviews h2 {
        font-size: 28px;
    }

}